<h1 class="text-center">Chats</h1>

<div class="table-responsive">
    <table class="table table-success table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Sender</th>
                <th>receiver</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <% @chats.each do |chat| %>
                <tr>
                <td><%= chat.sender_id %></td>
                <td><%= chat.receiver_id %></td>
                <td>
                    <%= link_to 'View', chat_path(chat), class: 'btn btn-primary btn-sm' %>
                </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
        <%= link_to 'New', new_chat_path, class: 'btn btn-secondary' %>
    </div>
</div>

  